.aboutcontent {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.aboutSection:hover {
  transform: scale(1.03);
  filter: brightness(1.1);
}

.aboutImage {
  display: flex; /* Set display to flex */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex: 1;
  max-width: 500px;
  height: 350px; /* Set a fixed height */
  padding: 15px;
  border-radius: 15px;
  overflow: hidden; /* Hide overflow */
}

.aboutImage > span {
  display: flex; /* Set display to flex */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Ensure it takes up full width of the container */
  height: 100%; /* Ensure it takes up full height of the container */
}

.aboutImage img {
  max-width: 100%; /* Ensure image doesn't exceed container's width */
  max-height: 100%; /* Ensure image doesn't exceed container's height */
  border-radius: 15px;
}

.aboutText {
  flex: 1;
  padding: 15px;
  max-width: 600px;
  color: #3a5f2a; /* Example color - adjust as per your theme */
}

.aboutText h2 {
  font-size: 24px; /* Slightly larger font size for headings */
  text-align: center;
  margin-bottom: 15px;
  font-family: "Lucida Sans";
  color: #2e7d32; /* Example color - adjust as per your theme */
}

.aboutText p {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
}

.reverse {
  flex-direction: row-reverse;
}
.dalleAcknowledgment {
  text-align: center;
  font-size: 12px;
  color: #6c757d;
  margin: 20px 0;
}
