.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #fff;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  font-size: 36px;
  font-family: "Tahoma";
  overflow: hidden;

  /* Animation and visual enhancements */
  animation: fadeInUp 2s ease-in-out;
  background: rgba(0, 0, 0, 0.1); /* Commented out */
  padding: 20px;
  /* border-radius: 15px; */
}

/* Keyframes for the fadeInUp animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

body {
  background-attachment: fixed;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-text {
  font-family: "Gill Sans MT";
  font-size: 20px;
  color: black;
}
.footer-home {
  text-align: center;
}
.footer-home a .svg-inline--fa {
  color: rgb(15, 118, 15);
  padding-top: 30px;
  width: 24px;
  height: 24px;
  gap: 15px;
}

.footer-home a {
  margin-right: 30px;
}
.find-out-more-btn {
  margin-top: 20px; /* Space above the button */
  padding: 5px 10px; /* Padding inside the button */
  font-size: 13px; /* Font size */
  color: #fff; /* Text color */
  background-color: #4caf50; /* Background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* Optional: Add a hover effect */
  &:hover {
    background-color: #367c39;
  }
}
