.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 36px;
  font-family: "Tahoma";
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-text {
  font-family: "Gill Sans MT";
  font-size: 20px;
  color: black;
}
.footer-home {
  text-align: center;
}
.footer-home a .svg-inline--fa {
  color: rgb(15, 118, 15);
  padding-top: 30px;
  width: 24px;
  height: 24px;
  gap: 15px;
}

.footer-home a {
  margin-right: 30px;
}

.navbar {
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value (0.5 in this example) to control the transparency */
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Optional: Use a z-index to control its stacking order */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  color: white; /* Color for the logo text */
  font-size: 20px; /* Adjust the font size as needed */
}

.nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.nav li {
  margin-right: 20px;
}

.nav li:last-child {
  margin-right: 0; /* Remove margin for the last item */
}

.nav a {
  text-decoration: none;
  color: white; /* Color for the navigation links */
  font-family: "Helvetica";
  font-size: 16px;
}

.active-link {
  font-weight: bold;
}
